<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf8">
		<title>このアプリについて</title>
	</head>
	<body>
		<h1>このアプリについて</h1>
		<p>アプリの説明文です</p>
		<a href="/" target="_blank">戻る</a>
	</body>
</html>