<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf8">
		<title>送信フォーム</title>
	</head>
	<body>
		<a href="/about" target="_blank">このアプリについて</a>
		<form action="check" method="POST" role="form">
			<div>
				<label for="input-mail">メールアドレス</label>
				<input name="email" type="email" class="form-control" id="input-mail">
			</div>
			<div>
				<label for="text">内容</label>
				<textarea name="message" class="form-control" id="text"></textarea>
			</div>
			<div>
					受信件数 <%=@count%>件
			</div>
			<input type="submit" svalue="OK">
		</form>
	</body>
</html>
