<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf8">
		<title>送信フォーム</title>
	</head>
	<body>
		<a href="about.html" target="_blank">このアプリについて</a>
			<form>
				<div>
					<label for="InputEmail">メールアドレス</label>
					<input type="email" class="form-control" id="InputEmail">
				</div>
				<div>
					<label for="text">内容</label>
					<textarea class="form-control" id="text"></textarea>
				</div>
			<a href="check.html" style="text-decoration:none;"><input type="submit" value="OK"></a>
			</form>
		</div>	
	</body>
</html>
