<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf8">
		<title>送信完了</title>
	</head>
	<body>
		<div>
			<h1>ありがとうございました！</h1>
			<p><%=@email%></p>
			<p><%=@message%></p>
			<a href="/">TOPに戻る</a>
		</div>
	</body>
</html>